*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html {
    scroll-behavior: smooth;
}

/* Nav Bar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all 0.5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color:black;
    box-shadow: 0 0 30px white;
    border-radius: 12px;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color:white;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('tiger.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}    
}
.main { 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.headings {
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

/*  About Section */
#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#pic {
    display: flex;
}

#pic img {
    width: 575px;
    height: 400px;
}

#intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
 
}

#intro h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

/* Portfolio Section */
#portfolio {
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0, 0.9);
    color: white;
    margin: 25px 50px;
    border-radius: 15px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;

}


.gallery img { 
    width: 360px;
    height: 240px;
    margin: 10px;
    transition: all 0.5s ease;
}

.gallery img:hover {
    box-shadow: 0 0 30px rgb(226, 226, 224);
    border-radius: 12px;

}


}

/* Contact Section */
#contact {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    margin-bottom: 30px;


}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    

}

ul li {
   
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}


@media screen and (max-width: 786px) {
/* Nav Bar */
.navbar ul {
    flex-wrap: wrap;
    justify-content: center;
}


/* Headings */
.heading{
    font-size: 2.5rem;
}


  /* ABOUT   */
    #pic{
        flex-direction: column;
        align-items: center;
    }

    #pic img{
        width: 475;
        height: 300px;
    }

    #intro h2 {
        text-align: center;
        padding: 10px;
    }


}
/* Contact */

@media screen and (max-width: 550px) {
    /* Home */
    #home{
        height: 820px;
    }

/* About */
#pic img {
    width: 300px;
    height: 175px;
}
#intro h2{
    font-size: 1.5rem;
}

}

/* Portfolio */
.gallery img{
    width: 275px;
    height: 150px;
    margin: 10px;
}

/* Nav Bar  */
.navbar ul li {
    font-family: century;
    font-size: 1rem;
    font-weight: bold;
}

