*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}

/* Nav Bar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all 1s ease;
}

.navbar ul li a:hover {
    background-color: rgb(216, 186, 19);
    color:rgb(238, 255, 2);
    box-shadow: 0 0 30px rgb(255, 208, 0);
    border-radius: 12px;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    background-color: rgb(169, 169, 169, 0.3);
    
    color:rgb(218, 185, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

#home::before {
    content: "";
    position: relative;
    top: 0;
    right: 0;
    background: url('https://www.wallpapertip.com/wmimgs/14-140359_374419-title-white-tiger-animal-tiger-cats-grey.jpg') no-repeat center center/cover;
    height: 500px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}    

.main { 
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(228, 177, 82, 0.897);
    position: absolute;
    top: 30%;
    right: 5%;  /*name to the right and 30% down from top.
    pushed down from top because of absolute value */
}

.headings {
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
/*
.btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outlineL none;
    transition: .5s ease-in;
}
*/

/*  About Section */
#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#pic {
    display: flex;
}

#pic img {
    width: 575px;
    height: 400px;
}

#intro {
    display: flex;
    flex-direction: column;
   text-align: justify;
    padding: 10px;
 
}

#intro h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    
}

/* Portfolio Section */
#portfolio {
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0, 0.5);
    color: white;
    margin: 25px 50px;
    border-radius: 15px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.5s ease;

}


.gallery img { 
    height: 240px;
    width: 360px;
    margin: 10px;
    flex-direction: column;
    transition: all 0.5s ease;
}

.gallery img:hover {
    box-shadow: 0 0 30px rgb(226, 226, 224);
    border-radius: 12px;

}

.hw1:hover {
    
    
}

/* Services Section */
#services {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;

}

.box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(228, 177, 82) 50%, rgb(44, 43, 43) 50%);
    background-size: 100% 200%;
    transition: all .8s;
    color: rgba(255, 230, 0, 0.883);

}
.box h2 {
    font-size: 2rem;
    justify-content: center;

}

.box:hover {
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255, 4, 4);
    
}
/* Contact Section */
#contact {
    justify-content: center;
    border-top: 5px solid black;


}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    justify-content: center;

}

ul li {
   
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}


